.filters{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    margin: 20px 0px;

}

#filterTitle{
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #27a6df;
    border-radius: 5px 5px 0px 0px;
}

.formControl{
    display: flex;
    flex-direction: column;
    margin:0;
;
}

.formCategory{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-self: flex-start;
    margin: 10px 10px;
}

 #formLabel{
    font-size:17px !important;
    font-weight: 600;
} 

.priceRange{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.priceLimits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}

#slider{
    width: 200px;
    margin: 10px 0px;
}

.separator{
    width: 90%;
    height: 1px;
    background-color: #d4d4d4;
    margin: 10px 0px;
    align-self: center;
}

/*Responsive. hide filters*/
@media only screen and (max-width: 945px) {
    .filters{
        display: none;
    }
}



