.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mainContainer{
    margin-top: 50px;
    display: flex;

}

.leftContainer{
    display: flex;
}

.rightContainer{
    display: flex;
    flex-direction: column;

}