.navbar{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    position: relative;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 999;
}

.innerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo{
    width: 180px;
    align-self: center;
    cursor: pointer;
}

.searchbar{
    height:35px;
    flex:1;
    margin:0px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchbar::placeholder{
    padding-left: 5px;
}


.searchBarContent{
    display: flex;
    height: 100%;
    width: 80%;
}

.searchInput{
    flex:1;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    outline:none;
}

.searchIcon{
    height: 100%;
    background-color: white;
    border:solid 1px white;
    border-radius: 0px 5px 5px 0px;
    justify-content: center;
    cursor:pointer;
}

.navButtons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButton{
    color: black;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    padding: 5px;
    height: 80%;
    margin-right: 15px;
    font-size: 25px;
}

.navButton p{
    margin: 0px;
    padding: 0px;
}

.navButton p:nth-child(1){
    font-size: 15px;
}
.navButton p:nth-child(2){
    font-size: 15px;
    font-weight: 600;
}

.navButton img{
    width: 40px;
    margin-right: 10px;
}

.navButtons :nth-child(3){
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobileSearchbar{
    height: 35px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.burgerContent{
    position:absolute;
    top: 60px;
    right: 0px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border: solid 1px grey;
    border-top: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: start;
    /*smooth transition*/
}

.burgerContent > *{
    margin: 5px 0px;
    font-size: 18px !important;
}



.link{
    color:black;
    text-decoration: none;
}

@media only screen and (max-width: 750px) {
    .searchbar{
        display: none;
    }
    .navbar{
        height: 60px;
        flex-direction: column
    }
    .innerContainer{
        display:none
    }
}

@media only screen and (min-width: 750px) {
    .mobileSearchbar{
        display: none;
    }

}
